.header{
    width: 100%;
    background-color: black;
    color:white;
    height: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    color:orange
}
.family{
    font-family: "Lucida Console", "Courier New", monospace;
}

main {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 0px;
}
  
app-square {
    border: 1px solid white;
    height: 120px;
}
/* app-square:hover{
    background-color: lightcoral;
    color: red;
} */

.alignleft {
    float: left;
}
.alignright {
    float: right;
}
footer {
    bottom: 0px;
    padding: -8px;
    background-color: rgb(209, 207, 207);
    margin-bottom:0px;
    width: 100%; 
}
span{
    font-size: small;
}

